# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# lock files
bun.lockb
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.fleet
.history

# environment
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# testing
/coverage
/playwright-report
/test-results
/.wireit

# next.js
/.next/
/out/
.next
.next-server

# build outputs
/build
/dist
.serverless
.output
.vite
.svelte-kit

# cache
.turbo
.cache
.parcel-cache
.wrangler
.wt
.tmp

# misc
.DS_Store
*.pem
*.log
*.local
*.tmp
*.swp
*.swo
*~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.loki

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.playwright-mcp

# screenshots (root directory)
*.png